body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.love{
    background-color: plum;
    height: 30px;
    border: 1px solid #800888;
}
.abc{
    background-color: plum;
    height: 30px;
    border: 1px solid #800888;
}
span{
    color: blueviolet;
    font-size: 20px;
}
.triangle {
    width: 0;
    height: 0;
    cursor: pointer;
    
  }
  
  .details {
    display: none;
  }